.moves-layout {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.moves-list {
  flex: 1;
}

.pokemon-anim {
  width: 96px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-anim img {
  width: 96px;
  image-rendering: pixelated;
  animation: floatPokemon 2.5s ease-in-out infinite;
}

/* animação suave */
@keyframes floatPokemon {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}
