/* global.css */
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    min-height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}