/* =========================
   VARIÁVEIS GLOBAIS
========================= */
:root {
  /* Tipos Pokémon */
  --type-normal: #a6a877;
  --type-grass: #77c850;
  --type-fire: #ee7f30;
  --type-water: #678fee;
  --type-electric: #f7cf2e;
  --type-ice: #98d5d7;
  --type-ground: #dfbf69;
  --type-flying: #a98ff0;
  --type-poison: #a040a0;
  --type-fighting: #bf3029;
  --type-psychic: #f65687;
  --type-dark: #725847;
  --type-rock: #b8a137;
  --type-bug: #a8b720;
  --type-ghost: #6e5896;
  --type-steel: #b9b7cf;
  --type-dragon: #6f38f6;
  --type-fairy: #f9aec7;
}

/* =========================
   ESTILOS GLOBAIS / RESET
========================= */
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:focus,
a:active {
  outline: none;
}

/* =========================
   BODY
========================= */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f6f8fc;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .content */
main {
  width: 100vw;
  padding: 1rem;
  background-color: #fff;
}

/* Header*/
.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* =========================
   RESPONSIVO
========================= */
@media screen and (min-width: 992px) {
  main {
    max-width: 992px;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}
