/* pokedex.css */

main {
  min-height: 100vh;
}

/* Grid de Pokémon */
.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  list-style: none;
}

.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Cartão Pokémon */
.pokemon {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
  overflow: hidden;
}

.pokemon .number {
  font-size: 0.625rem;
  opacity: 0.3;
  text-align: right;
}

.pokemon .name {
  text-transform: capitalize;
  margin-bottom: 0.25rem;
}

.pokemon .detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon .detail .types {
  display: flex;
  gap: 0.25rem;
  list-style: none;
}

.pokemon .detail .types .type {
  font-size: 0.625rem;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  text-align: center;
  filter: brightness(1.1);
}

/* Imagem do Pokémon */
.pokemon .detail img {
  max-width: 100%;
  height: 70px;
}

/* Botão Load More */
.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.pagination button {
  padding: 0.25rem 0.5rem;
  font-size: 0.625rem;
  color: #fff;
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.pokemon {
  background: linear-gradient(
    180deg,
    var(--type-color),
    color-mix(in srgb, var(--type-color) 70%, black)
  );
}